@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Diese Webapp bildet einen Schichtplan für den Hochschulsport bei der Leuphana ab.</p>
</div>
